# Applied Data Science Capstone  - 3th Week Assignment - Bartosz Oblicki

## Hi, this is my Notebook for the second Assigment in this Course.

### Step 1 Importing libraries, setting url viariable

I will use Pandas to import the table from Wiki page. If You don't have lxml installed, please uncomment the conda install line

In [3]:
import pandas as pd
#!conda install -c anaconda lxml

url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

### Step 2 creating dataframe with source table
Importing all tables from source url, setting the first one as my source data frame.

In [7]:
Table=pd.read_html(url)
df_nb=Table[0]
df_nb.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Step 3 Filtering and Grouping
 Filtering the rows without Borough

In [8]:
df_nb=df_nb.loc[df_nb['Borough']!='Not assigned']

Grouping by Postcode and Borough

In [9]:
df_nc=df_nb.groupby(['Postcode','Borough']).count().reset_index()

Combining Neighbourhood into one grouped row per Postcode

In [10]:
df_nc['Neighbourhood']=df_nb.groupby(['Postcode'],as_index=False)['Neighbourhood'].apply(lambda x: "%s" %','.join(x))
df_nc.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [11]:
df_nc.shape

(103, 3)

### Step 4 importing coordinates and joining them with source data frame

In [4]:
Corrtb=pd.read_csv('Geospatial_Coordinates.csv')

In [13]:
df_result=pd.merge(df_nc, Corrtb, left_on='Postcode', right_on='Postal Code', how='inner')
df_result.head()

,Postcode,Borough,Neighbourhood,Postal Code,Latitude,Longitude
0,M1B,Scarborough,"Rouge,Malvern",M1B,43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek,Rouge Hill,Port Union",M1C,43.784535,-79.160497
2,M1E,Scarborough,"Guildwood,Morningside,West Hill",M1E,43.763573,-79.188711
3,M1G,Scarborough,Woburn,M1G,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,M1H,43.773136,-79.239476

Thank You for Your review! If you have any comments please write them in reviews comments field. By and Godd luck with the course!